<% provide(:title, "パスワードを忘れた") %>
<div class="main__container">
<h3>パスワード再設定用のリンクを送信</h3>
  <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>
  <div class="general_field">
    <%= f.label :email, "登録しているメールアドレス" %>
    <%= f.email_field :email, placeholder: "例: porco92@example.com" %>
  </div>
  <div class="general_field submit__field">
    <%= f.submit "リンクを送る", class: "btn" %>
  </div>
  <% end %>
</div>