<h1>Potara</h1>

<p>
  Potaraへのご登録ありがとうございます！　下記のURLをタップしてアカウントを認証しましょう。
</p>

<%= link_to "認証してアカウントを作成する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>