<h1>Muber</h1>

<p><%= @user.name %>さん<p>

<p>
  Muberへようこそ！　下記のURLをタップしてアカウントを認証しましょう。
</p>

<%= link_to "認証してアカウントを有効にする", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>