<%= link_to "Muber", root_url, id: "logo" %>

<% if logged_in? %>
<nav class="nav">
  <ul class="nav-menu">
      <li>
        <%= link_to "プロフィール", current_user %>
      </li>
      <li>
        <%= link_to "ログアウト", logout_path,
                                  data: { "turbo-method": :delete } %>
      </li>
  </ul>
</nav>
<% end %>