<p id="warning" style="display: none;">
  画面から離れるとマッチは解除されます<br>
  お互いの位置情報は更新されません
</p>

<div class="footer__container">
  <% if logged_in? %>
  <div class="menu-left">
    <%= link_to image_tag("profile-user.png", alt: "プロフィール", class: "image__icon profile__icon"), current_user %>
  </div>
  <div class="menu-center">
    <%= link_to entry_path, id: "connect-link", class: "btn", data: { turbo: false } do %>
      <div id="connect-text">オン</div>
    <% end %>
  </div>
  <% end %>

  <div class="menu-right">
    <%= link_to "Potara", root_url, id: "logo", data: { turbo: false } %>
  </div>
</div>