<div id="warning" style="display: none;">
  <h4>通信中です..</h4>
  <p>
    なるべく画面から離れないでください
  <p>
</div>

<div class="footer__container">
  <% if logged_in? %>
  <div class="menu-left">
    <%= link_to image_tag("profile-user.png", alt: "プロフィール", class: "image__icon profile__icon"), current_user %>
  </div>
  <div class="menu-center">
    <%= link_to root_url, id: "connect-link", class: "btn", data: { turbo: false } do %>
      <%= image_tag 'power.png', class: "power-btn" %>
    <% end %>
  </div>
  <% end %>

  <div class="menu-right">
    <%= link_to "Potara", root_url, id: "logo", data: { turbo: false } %>
  </div>
</div>