<%= link_to "Muber", root_url, id: "logo" %>

<% if logged_in? %>
  <button>マッチと出会う</button>

  <ul class="hamburger">
      <li>
        <%= link_to "プロフィール", current_user %>
      </li>
      <li>
        <%= link_to "ログアウト", logout_path,
                                  data: { "turbo-method": :delete } %>
      </li>
  </ul>
 <% end %>