<% if (@user && @user.errors.any?) %>
  <div>
    <%= @user.errors.count %>個のエラーがあります。
  </div>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif flash.any? %>
  <% flash.each do |message_type, message| %>
    <h4><%= message %></h4>
  <% end %>
<% end %>
