<% if (@user && @user.errors.any?) %>
  <div class="popup-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif flash.any? %>
  <% flash.each do |message_type, message| %>
    <p class="popup-<%= message_type %>"><%= message %></p>
  <% end %>
<% end %>

<div id="popup__javascript"><div>
