<% if (@user && @user.errors.any?) %>
  <p>
    <%= @user.errors.count %>個のエラーがあります。
  </p>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif flash.any? %>
  <% flash.each do |message_type, message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<div id="popup__javascript"><div>
