<%= form_with model: current_user, id: "whole-form" do |f| %>
<div class="matchesNew__image">
  <img id="image-preview"> 
  <%= f.file_field :image, capture: 'user' %>
  <%= f.label :image, "a",  id: 'camera' %>
</div>
  <%= f.text_area :comment, placeholder: "ひとことを追加..." %>
<% end %>
