<div class="main__container">
  <h2>出会いを、もっと自然に、もっとカジュアルに。</h2>

  <div class="matchesNew__information">
    <div>
      <h2>Realtime</h2>
      マッチが成立したら、今すぐに会いましょう。
    </div>
    <div>
      <h2>Fast Meeting</h2>
      距離の近い人からマッチされます。
    </div>
    <div>
      <h2>No Profile, No Chat</h2>
      自己紹介は直接向かい合って。
    </div>
    <div>
      <h2>100% Free</h2>
      女性も男性も、完全無料。
    </div>
  </div>

  <p><%= link_to "アカウントをつくる", signup_path, class: "btn btn-signup" %></p>
  <p><%= link_to "ログインはこちら" ,login_path, class: "login_link" %></p>
 
</div>