<% provide(:title, "通信中です..") %>
<div id="map-page">
  <div id="map"></div>
  <%= image_tag current_user.image.variant(:icon), class: "icon" %> 
  <div id="loading-screen">
    <div id="ack-yokohama"></div>
    <div class="spinner"></div>
  </div>

  <div id="match-info" style="display: none;">
    <div class="match-info__container">
      <div class="main-info">
        <div>
          <span id="name" class="important-info"></span>
          <span id="age" class="important-info"></span>
          <p id="height"></p>
        </div> 
        <p id="distance"></p>
      </div>
      <p id="comment"></p>
      <button id="map__closeButton">✕</button>
      <button id="agreement" class="btn">今すぐ会う</button>
      <div id="loading-screen2" style="display: none;">
        <div class="spinner"></div>
      </div>
    </div>
  </div>

  <div id="appointment" style="display: none">
    <div class="appointment__container">
      <h3>Matched!</h3>
      <h1 id="station"></h1>
      <p id="distance-to-station"></p>
    </div>
  </div>

  <div id="sound" class="sound"></div>
  <div id="current-location"></div>
  <%= audio_tag 'muber_notification_1.m4a', loop: "true" %>

  <div id="bot-creater">近くにbotを作成</div>
</div>