<div id="map-page">
  <div>
    <%= link_to "オフライン", '#', id: "disconnect-link" %>
  </div>
  <div id="map">
    <%= image_tag current_user.image.variant(:display), id: "my-image" %> 
  </div>
  <img id="partner-image" alt="nothing"> 
  <div id="match-info" style="display: none;">
    <h2>
      <span id="name"></span>
      <span id="age"></span>
      <p id="distance"></p>
    </h2>
    <img id="her-his-image"></img>
    <button id="agreement">今すぐ会う</button>
  </div>
  <div id="chat" style="display: none;">
    <div id="chat-display"></div>
    <form id="form">
      <input type="text", id="message" />
      <button type="submit", id="submission">送信</button>
    </form>
  </div>
</div>