<div id="map-page">
  <div>
    <%= link_to "オフライン", '#', id: "disconnect-link" %>
  </div>
  <div id="map"></div>
  <%= image_tag current_user.image.variant(:display), class: "icon" %> 
  <img id="partner-image" alt="partner-icon" style="display: none;" class="icon"> 

  <div id="loading-screen">
    <div class="spinner"></div>
  </div>

  <div id="match-info" style="display: none;">
    <div class="match-info__container">
      <div class="main-info">
        <h2>
          <span id="name"></span>
          <span id="age"></span>
        </h2> 
        <p id="distance"></p>
      </div>
      <p id="comment"></p>
      <button id="map__closeButton">✕</button>
      <button id="agreement" class="btn">今すぐ会う</button>
      <div id="loading-screen2" style="display: none;">
        <div class="spinner"></div>
      </div>
    </div>
  </div>

  <div id="appointment" style="display: none">
    <div class="appointment__container">
      <h3>Matched!</h3>
      <h1 id="station"></h1>
      <p id="distance-to-station"></p>
      <h2 id="meeting-time"></h2>
    </div>
  </div>

</div>

<%= javascript_importmap_tags %>