<div class="main__container">
  <h3>現在マッチング時間外です</h3>
  <p>次の時間帯: <span style="color: red;"><%= @next_hour %>:00~<%= @next_hour %>:10</span></p>
  <%= image_tag 'clock.png', style: "width:80%; margin-top:10%;" %>
</div>