:root {
  ---primary-color: hsl(286, 100%, 75%);
  --secondary-color: #4f005a;
  --accent-color: hsl(271, 91%, 83%);
  --background-color: #333333;
  --text-color: #ffffff;
  --subtext-color: #777777;
}

/* universal */

body {
  background-color: black;
  color: var(--text-color);
  min-height: 100vh;
  font-family: "Noto Sans";
  font-size: 16px;
  text-align: center;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.logo {
  padding-left: 16px;
}

.body__container {
  background-color: var(--background-color);
  width: 100%;
  max-width: 512px;
  min-height: 100vh;
  margin: 0 auto;
}

.main__container {
  padding: 16px 32px;
}

#map {
  height: 100%;
  width: 100%;
}

#my-image {
  object-fit: cover;
  width: 70px;
}

#partner-image {
  object-fit: cover;
  width: 70px;
}

/* not logged in */

.matchesNew__information {
  text-align: left;
}

.matchesNew__information h2 {
  margin: 32px 0px 8px 0px;
}