:root {
  ---primary-color: #ff6f91;
  --secondary-color: #ffc1e3;
  --accent-color: #d4a5ff;
  --background-color: #fff9f4;
  --text-color: #333333;
  --subtext-color: #777777;
}

/* universal */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-size: 30px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  margin: 5;

}



#map {
  height: 100%;
  width: 100%;
}

#my-image {
  object-fit: cover;
  width: 70px;
}

#partner-image {
  object-fit: cover;
  width: 70px;
}