:root {
  --beige-color: #DCCBB4;
  --first-color: #495aff;
  --second-color: #0acffe;
  --background-color: rgb(50, 50, 50);
}

/* universal */

body {
  background-color: black;
  color: white;
  height: 100svh;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

header {
  position: fixed;
  font-size: 16px;
  padding: 0;
  max-height: 40svh;
  background-color: var(--first-color);
  border-radius: 16px;
  z-index: 10000;
  width: 100%;
  text-align: center;
}

header p, ul, div{
  margin: 0;
  padding: 0;
}

.body__container {
  background-color: var(--background-color);
  width: 100%;
  max-width: 512px;
  height: 100svh;
  margin: 0 auto;
}

.loading__wrapper {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0.3;
}

#loading-screen3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
}

.main__container {
  padding: 16px 32px;
}

.btn {
  color: white;  
  background-image: linear-gradient(to right, var(--second-color) 0%, var(--first-color) 100%);
  font-size: 24px;
  font-weight: bold;
  display: block;
  border-radius: 100vh;
  border: none;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 6px gray;
}


input[type=text], input[type=date], input[type=email], input[type=password], textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  color: white;
}

textarea {
  text-align: left;
  background-color: black;
  height: 64px;
  border-radius: 0 0 32px 32px;
  width: 98vw;
}

input[type=submit] {
  width: 100%;
}

label {
  font-size: 16px;
}

a {
  color: white;
}

.image__icon {
  width: 46px;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__container {
  display: flex;
  margin: 0 auto;
  width: 99%
}

.menu-left, .menu-center, .menu-right {
  width: 33%
}


#logo {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  text-decoration: none;
  color: var(--beige-color);
  font-size: 24px;
}

#connect-link {
  width: 40%;
  aspect-ratio: 1;
  margin: 16px auto;
  pointer-events: auto;
  background-color: var(--first-color);
  background-image: none;
}

#connect-text {
  margin-top: 8px;
}

.profile__icon {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

#warning {
  background-color: white;
  opacity: 0.7;
  color: black;
  border-radius: 12px;
  width: 80%;
  margin: 0 auto;
}


/* input fields */

.general_field {
  margin-top: 64px;
}

.submit__field {
  margin-top: 128px;
}

/* map */

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
}

#current-location {
  position: absolute;
  right: 16px;
  top: 62%;
  width: 15%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--background-color);
  background-image: url("navigation.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.sound {
  position: absolute;
  right: 16px;
  top: 72%;
  width: 15%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-image: url("mute.png");
}

.sound.sound__on {
  background-image: url("audio.png");
}

audio {
  display: none;
}

.icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--second-color);
}

/* loading */
#loading-screen {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--background-color);
  border-top-color: var(--second-color);
  border-radius: 50%;
  animation: spin 4s linear infinite; 
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* match info */

#match-info, #appointment {
  width: 95svw;
  aspect-ratio: 4 / 5;
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  border-radius: 5%;
}

#match-info {
  z-index: 11;
}

.match-info__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-info {
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 50;
  max-width: 40%;
}

#comment {
  position: absolute;
  right: 5%;
  bottom: 5%;
  max-width: 40%;
  font-size: 16px;
}

#map__closeButton {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  right: 5%;
  top: 5%;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  color: white;
  opacity: 0.5;
}

#agreement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25%;
  z-index: 60;
  width: 75%; 
  color: var(--background-color);
  background-image: linear-gradient(to right, white 0%, var(--second-color) 100%);
  background-size: 200% 100%;
  background-position: 0% 0%;
}

.animate {
  animation: limitOfTimes 45s linear;
}

@keyframes limitOfTimes{
  0%{
    background-position: -100% 0%;
  }
  100%{
    background-position: 0% 0%;
  }
}

#loading-screen2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35%;
  pointer-events: none;
}

/* appointment */
#appointment {
  pointer-events: none;
}

.meeting-time {
  background-color: #d44300;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 12px;
  position: relative;
}

.meeting-time::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #d44300;
}

/* not logged in  */

.matchesNew__information {
  text-align: left;
  padding-bottom: 24px;
}

#partner-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.matchesNew__information h2 {
  margin: 16px 0px 8px 0px;
}

.login_link {
  color: var(--text-color);
  font-size: 14px;
}

/* signup */
.usersNew__form {
  padding-top: 32px;
}

.usersNew__field {
  margin-bottom: 16px;
}



.gender input[type=radio] {
  display: none;
}

.gender label {
  display: inline-block;
  padding: 8px 30px;
  margin: 0 8px;
  border: 1px solid white;
  border-radius: 12px;
  background-color: var(--background-color);
  color: black;
  opacity: 1.0;
}


.gender input[type=radio]:checked + label[for=user_girl_1] {
  background-color: rgb(186, 1, 97);  
}

.gender input[type=radio]:checked + label[for=user_girl_0] {
  background-color: rgb(0, 45, 191);  
}

/* logged in */

label[for=user_comment] {
  display: block;
}

.matchesNew__image {
  position: relative;
}

#image-preview {
  display: block;
  max-width: 100%;
  max-height: 80%;
}

#image-preview:not([src]) {
  background-color: var(--first-color); 
  width: 100%;
  aspect-ratio: 4 / 5;
}

.add__icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#user_image {
  display: none;
}

#camera {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: black;
  opacity: 0.5;
  width: 17%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile */
.usersShow__delete {
  margin-top: 24px;
}

/* account_activations */
#copyButton {
  background-color: white;
  border-radius: 32px;
  width: 80%;
  height: 64px;
  font-size: 16px;
  font-weight: bold;
}